.Robot-component {
  .add-pic {
    width: 100px;
    height: 100px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    line-height: 100px;
    text-align: center;
  }
  .image-box{
    img{
      width: 100px;
      height: 100px;
    }
  }
}
